@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Sansita+Swashed:wght@300;400;600&display=swap");
/* font-family: 'Dancing Script', cursive;
font-family: 'Sansita Swashed', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Hind+Siliguri:wght@300;400&family=Sansita+Swashed:wght@300;400;600&display=swap");

@import "../../node_modules/normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

$navy: #14213d;
$orange: #fca311;
$gray: #e0e1dd;
$white: #ffffff;
$softBlack: #0d1b2a;
$softBlackGradient: #0d1b2a40;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-weight: 100;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  background: $white;

  color: $softBlack;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 20px;
  gap: 16px;
  padding: 20px;

  &__heading-wrapper {
    font-family: "Dancing Script", cursive;
    letter-spacing: 2px;
  }
  &__input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    &-input {
      width: 200px;
      height: 44px;
      letter-spacing: 2px;
      padding: 10px 12px;
      border-radius: 2px;
      border: 1px solid #ccc;
      font-size: 16px;
      border: 1px solid black;
      box-sizing: border-box;
    }
  }
  &__searching-btn {
    height: 44px;
    min-width: 44px;
    font-size: 22px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid black;
    background: $orange;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s;
  }
  &__searching-btn:hover {
    background: darken($orange, 10%);
  }
  &__bascket-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;

    &-icon {
      order: 1;
      margin-right: 8px;
      font-size: 30px;
    }
    .menu__basket__summary {
      order: 2;
    }
  }

  &-icon {
    z-index: 111;
  }
}

.navigation {
  margin: 20px;
  display: flex;
  justify-content: center;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 30px;
    list-style: none;
    text-transform: uppercase;
    font-size: 35px;
    cursor: pointer;
    margin: 30px;

    &--chosen {
      text-decoration: underline;
    }
  }
}

li {
  display: inline-block;
  font-family: serif;
  font-weight: 500;
  margin: 15px;
}

.text {
  display: inline-block;
}
ul {
  display: inline-block;
}

// .fa-magnifying-glass {
//   width: 20px;
//   line-height: 20px;
//   color: black;
// }

.wybor {
  position: relative;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  &__item {
    position: relative;
    width: 30%;
    height: auto;
    margin: 20px 20px auto;
    cursor: pointer;
    border-radius: 10px;

    & img {
      //TODO: remove me
      width: 100%;
      border-radius: inherit;
      z-index: -2;
    }

    &--img {
      width: 100%;
      border-radius: inherit;
    }

    &--heading {
      position: absolute;
      top: 30%;
      left: 10%;
      width: 20px;
      margin: 20px auto;
      font-size: 40px;
      color: #fca311;
      text-align: center;
      text-transform: uppercase;
      display: none;
      z-index: 3;

      &--open {
        display: block;
      }
    }
  }

  &__item:hover {
    color: #e5e5e5;
    opacity: 0.5;
  }
}

.wybor__makeup {
  position: relative;
}
.makeUp--heading {
  // position: absolute;
  top: 30%;
  left: 10%;
  width: 20px;
  margin: 20px auto;
  font-size: 40px;
  color: #14213d;
  text-align: center;
  text-transform: uppercase;
  display: none;
  z-index: 3;
}
.makeUp--heading--open {
  // display: block;
  z-index: 1;
}
.woman {
  display: inline-block;
  width: 30%;
  border-radius: 10px;
  margin: 20px 20px auto;
  cursor: pointer;
  &:hover {
    color: #f2e9e4;
    opacity: 0.5;
  }
}
.heading__woman {
  text-align: center;
  display: block;
}
.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &__img {
    // display: inline-block;
    width: 30%;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    margin: 10px;
    // margin: 5px auto;
  }
}

a {
  text-decoration: none;
  color: #fca311;
}
a:hover {
  // text-decoration: underline;
  color: #e5e5e5;
}
.footer {
  display: flex;
  margin-top: 15%;
}
.firma {
  font-size: 6px;
  font-size: 12px;
  font-family: italic;
  text-align: center;
  cursor: pointer;
}

.kontakt__li {
  height: 20%;
  text-align: center;
  line-height: 20%;
  cursor: pointer;
  display: inline-block;
}

.fa-square-phone {
  font-size: 50px;
  margin-right: 15px;
  text-align: center;
}
.fa-envelope {
  font-size: 50px;
  margin-right: 15px;
  text-align: center;
}
.footer__information {
  font-weight: 600;
  font-size: large;
}
.fa-solid fa-bars {
  display: none;
}
.hamburger {
  display: none;
}
// .form {
//   display: block;
//   &__heading {
//     text-align: center;
//     font-family: serif;
//     letter-spacing: 2px;
//     font-size: 30px;
//     &__img {
//       width: 50px;
//       &__wlasciwy {
//       }
//     }
//   }
// }
.form__heading {
  text-align: center;
  font-family: serif;
  letter-spacing: 2px;
  font-size: 30px;
}
.form {
  display: inline-block;
}
.form__img {
  width: 60%;
  border-radius: 20px;
  margin: 20px;
  display: inline-block;
  position: relative;
}
.form__wlasciwy {
  position: absolute;
  display: inline-block;
  width: 30%;
  text-align: center;
  margin-top: 5%;

  &__item {
    position: relative;
    width: 100%;

    input,
    textarea {
      width: 100%;
      height: 60px;
      line-height: 60%;
      border-radius: 10px;
      text-align: left;
    }
  }
  &__button {
    width: 100%;
    height: 60px;
    font-family: serif;
    text-transform: uppercase;
    margin-top: 10%;
    border-radius: 10px;
    &:hover {
      background-color: #fca311;
      cursor: pointer;
    }
  }
}
label {
  display: block;
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

// .textArea {
//   width: 320px;
//   height: 100px;
//   border-radius: 10px;
// }

.wrapper {
  // background-color: #14213d;
  width: 100vw;
  height: 100%;
  &__heading {
    text-align: center;
    font-size: 40px;
  }
  &__img {
    box-sizing: border-box;
    display: block;
    width: 400px;
    text-align: center;
    margin: 30px auto;
  }
}
.produkty {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  margin: 5%;

  &__item {
    width: 30%;
    margin: 20px;

    &__image {
      width: 100%;
      height: 80%;
      margin: 5px;
    }

    &__headings {
      width: 100%;
      text-align: left;
      font-family: arial;
      margin: 15px;
      text-align: center;
    }
    &__btn {
      display: block;
      border: 2px solid black;
      font-family: arial;
      background-color: #fca311;
      cursor: pointer;
      border-radius: 30px;
      text-transform: uppercase;
      width: 50%;
      text-align: center;
      height: 10%;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
}
.cosmetic__heading {
  text-align: center;
  font-family: serif;
  font-size: 60px;
  font-weight: 500;
}

@media (max-width: 920px) {
  body {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
  }
  .wybor {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;

    &__item {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 10px;
      margin: 0;

      &--img {
        width: 100%;
        border-radius: inherit;
      }

      &--heading {
        position: absolute;
        top: 30%;
        left: 10%;
        width: 20px;
        margin: 20px auto;
        font-size: 40px;
        color: #fca311;
        text-align: center;
        text-transform: uppercase;
        display: none;
        z-index: 3;

        &--open {
          display: block;
        }
      }
    }
  }
  .menu__top {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 20px;
    border-radius: 15%;
  }
  .fa-solid fa-bars {
    display: block;
  }
  .img__home {
    display: block;
    width: 100%;
    margin: 10px auto;
  }
  // .fa-basket-shopping {
  //   display: none;
  // }
  .navigation {
    padding: 16px;
    display: none;
    width: 100%;
  }

  .navigation--open {
    display: block;
  }
  .searching__input {
    display: none;
  }
  .searching__btn {
    display: none;
  }
  .header {
    // min-height: 80px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #14213d;
  }
  .hamburger {
    position: absolute;
    display: block;
    font-size: 40px;
    right: 20px;
    top: 16px;
    background-color: transparent;
    border-radius: 40%;
    border: none;
    z-index: 4;
    color: #fca311;
  }
  main {
    margin: 80px auto 0;
  }

  .firma {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer {
    display: block;
    text-align: center;
  }
  .form__heading {
    text-align: center;
    font-family: serif;
    letter-spacing: 2px;
    font-size: 15px;
  }
  .form {
    box-sizing: border-box;
    display: inline-block;
    width: 260px;
    height: 200px;
    margin: 40px;
  }
  .form__img {
    display: none;
  }
  .form__wlasciwy {
    // position: absolute;
    display: inline-block;
    width: 90%;
    text-align: center;
    z-index: -3;
  }
  .footer {
    margin-top: 30%;
  }
  .produkty {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    &__item {
      width: 40%;
      margin-bottom: 30px;

      &--image {
        width: 100%;
      }
    }
    &__headings {
      font-family: arial;
      margin-bottom: 5%;
      position: relative;
      margin: 0;
    }
    &__btn {
      border: 2px solid black;

      font-family: arial;
      background-color: #fca311;
      cursor: pointer;
      width: 10%;
      height: 7%;
      border-radius: 30px;
      text-transform: uppercase;

      &:hover {
        background-color: #e5e5e5;
      }
    }
  }
  .cosmetic__heading {
    text-align: center;
    font-family: serif;
    font-size: 60px;
    font-weight: 500;
  }
}

@media (max-width: 412px) {
  .wybor {
    display: block;
    width: 100%;
    box-sizing: border-box;
    &__item {
      width: 100%;
      height: auto;
      cursor: pointer;
      border-radius: 10px;
      margin: 0;
      &--img {
        width: 100%;
        border-radius: inherit;
      }
      &--heading {
        position: absolute;
        top: 30%;
        left: 10%;
        width: 20px;
        // margin: 20px auto;
        font-size: 40px;
        color: #fca311;
        text-align: center;
        text-transform: uppercase;
        display: none;
        z-index: 3;

        &--open {
          display: block;
        }
      }
    }
  }
  .form {
    display: block;
    width: 100%;
    margin: 0;
    &__wlasciwy {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  label,
  textarea {
    display: block;
    width: 100%;
    text-align: center;
    margin: 20px;
  }

  .footer {
    display: block;
    margin-top: 90%;
  }
  .produkty {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;

    &__item {
      width: 80%;
      margin-bottom: 30px;

      &--image {
        width: 100%;
      }
    }
  }

  .kontakt__li {
    margin-bottom: 20px;
  }
}
